
.bouton{
    display: flex;
    justify-content: space-around;
}
/* .div{
    position: absolute;
    left:0;
    bottom:0;
    max-height:100%;
    background-color: var(--secondary-color);
    opacity: 0,9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0,4s ease-in-out;
    overflow-y: auto;
    
    
}
.div:hover{
    transform: translate(0%);

} */