.input{
    text-align: center;
    margin-top: 30px;
    
}
.AddMovie{
    text-align: center;
    border-color: blue;
    margin-top: 50px;
    
}
/* input{
    margin-top: 20px;
    
}
h4{
    margin-top: 20px
    ;
}
.newmove{
    margin-top: 20px;
} */
